body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    text-align: center;
    color: #02AFBC;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 1px solid #02AFBC; /* Blue */
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #02AFBC;
    color: white;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

button {
    background-color: #FDDF35;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #FDDF35;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    overflow: auto;
    text-align: center;
}

.popup-content {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.popup-content h2 {
    color: #02AFBC;
    margin-bottom: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #555;
    font-size: 14px;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #02AFBC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #02AFBC;
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.filter-form label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-form select, .filter-form input {
    padding: 5px;
    font-size: 1rem;
}

.filter-form button {
    padding: 8px 16px;
    background-color: #02AFBC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #02AFBC;
}
